body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#home, #producoes{
    background-color: #0a1c3b;
}

.capa{
    border-radius: 100%;
    max-height: 400px;
}

.accordion-button::after{
    filter: invert(1);
}